body{
    background-color: burlywood;
    color: black;
}

#introduction {
    color: darkred;
    background-color: royalblue;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: auto;
    padding: 0.5em;
  }
  
  #my-favourite-color {
    color: white;
    background-color: blue;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }